h1{
    text-align: center;
    color: blue;
    font-size: 50px;}
    div{
        margin-left: 20px;
        float: left;
        font-family: Arial, Helvetica, sans-serif;
    }
    #sector{
        background-color: cadetblue;}
    #box{
        border: 1px solid black;
        padding: 10px;
        width: 350px;
        margin: 30px;
        margin-left: 20px;
        background-color: cadetblue;
}

        #sectorA{
            background-color: chartreuse;}
        #boxA{
            border: 1px solid black;
        padding: 10px;
        width: 350px;
        margin: 30px;
        margin-left: 20px;
        background-color: chartreuse;}

        #sectorB{
            background-color:cyan;}
        #boxB{
            border: 1px solid black;
        padding: 10px;
        width: 350px;
        margin: 30px;
        margin-left: 20px;
        background-color:cyan;
    position: relative; }
        }

       
        @media(min-width: 992px) {
            #box{
                width: 27%;
            }
            #boxA{
                width:27%
            }
            #boxB{
                width: 27%;
            }
        }
        @media(min-width:768px) and (max-width:992px ){
            #box{
                width: 35%;
            }
            #boxA{
                width:35%;
            }
            #boxB{
                width: 80%;
            } 
        }  
        @media(max-width: 767px){
        #box{
                width: 80%;
            }
            #boxA{
                width:80%;
            }
            #boxB{
                width: 80%;
            } 
        }  
